streamlit
pandas
numpy
plotly
matplotlib
sqlalchemy
bcrypt
streamlit-option-menu
streamlit-authenticator
authlib
google-auth
google-auth-oauthlib
python-dotenv
openpyxl
streamlit-authenticator
google-auth
google-auth-oauthlib
authlib
extra-streamlit-components
